body {
  background-color: slategray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contenedor {
  background-color: azure;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.menu-wrapper {
  display: flex;
  justify-content: space-between; /* menú a la izquierda, título a la derecha */
  align-items: center;
}

.dropdown-menu {
  z-index: 1000;
}

.contenedordos {
  /*background-color: aqua;*/
  width: 100%;
  height: auto;
}

/* En pantallas pequeñas */
@media (max-width: 768px) {
  .menu-wrapper {
    flex-direction: row; /* mantenerlos lado a lado */
    justify-content: space-between;
    align-items: center;
  }
  h1,
  h2 {
    font-size: 1.5rem;
    text-align: center;
  }
}
